{% extends 'userdata/main.html' %}
{%block content%}

	<div>
		<form action="" method="POST" style="margin-top: 10px;">
		{% csrf_token %}
			<label style="font-size: 1.3em;">Select sort type</label>
			<select name="cat" id="cat">
			  <option value="RollNo">Roll Number</option>	
			  <option value="Name">Name</option>
			  <option value="Department">Department</option>
			  <option value="hostel">Hostel</option>
			</select>
			<input class="btn login_btn" type="submit" value="Submit">
 		</form>
 	</div>
	<div style="margin-left: auto;margin-right: auto;">
		{% for message in messages %}
			<p id="messages">{{message}}</p>
		{% endfor %}	
	</div>

	<div>
		<button class="login_btn btn"><a href="{% url 'addstu'%}">Add Student</a></button>
		<button class="login_btn btn"><a href="{% url 'remstu'%}">Remove Student</a></button>
		<button class="login_btn btn"><a href="{% url 'editstu'%}">edit Student details</a></button>	
	</div>

	<div class="table_data">
		<table >
			<tr>
				

				<th>
					Name
				</th>
				<th>
					Roll No.
				</th>
				<th>
					Department
				</th>
				<th>
					Hostel
				</th>
			</tr>
			
				{% for stu in users%}
					<tr>
						<td>
							{{stu.name}}
						</td>
						<td>
							{{stu.roll}}
						</td>
						<td>
							{{stu.dept}}
						</td>
						<td>
							{{stu.hstl}}
						</td>
					</tr>
				{%endfor%}
			
		</table>
	</div>

{% endblock %}